/* src/pages/Form.css */

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form-container h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-size: 0.9em;
  color: #666;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #4caf50;
  text-decoration: none;
  font-size: 0.9em;
}

.form-container a:hover {
  text-decoration: underline;
}

/* Form.css */
.confirmation-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  font-size: 1.2em;
}
